[submodule "modules/directories"]
	path = modules/directories
	url = https://github.com/coursier/directories-jvm.git
[submodule "modules/windows-ansi"]
	path = modules/windows-ansi
	url = https://github.com/alexarchambault/windows-ansi.git
