[submodule "tests/metadata"]
	path = modules/tests/metadata
	url = https://github.com/coursier/test-metadata.git
[submodule "modules/directories"]
	path = modules/directories
	url = https://github.com/coursier/directories-jvm.git
[submodule "modules/tests/handmade-metadata"]
	path = modules/tests/handmade-metadata
	url = https://github.com/coursier/handmade-metadata.git
[submodule "scripts/website"]
	path = scripts/website
	url = https://github.com/coursier/docusaurus-mdoc-scripts.git
